.type {
	margin-top: 50px;
}

.me-collection-item image {
	width: 80upx;
	height: 80upx
}

.me-collection-icon {
	display: flex;
	width: 750upx;
	justify-content: space-around;
	margin-top: 30px;
	margin-bottom: 30px;
}

.me-collection-item {
	text-align: center;
}


.big {
	display: flex;
	justify-content: space-around;
}

.picture {
	width: 300rpx;
	display: flex;
	justify-content: center;

}

.pic image {
	width: 275rpx;
	height: 200rpx;
}

.text {
	width: 250rpx;
	padding: 5px;
	text-align: center;
	color: #808080;
}

.model {
	border-radius: 6px;
	box-shadow: 3px 3px 8px #C0C0C0;
}

