.input {
	width: 250upx;
	height: 60upx;
	padding-left: 10px;
}

.hand image {
	width: 180upx;
	height: 180upx;
}

.hand {
	text-align: center;

}

.img {
	width: 40upx;
	height: 40upx;

}

.id,
.psd {
	border: 1px solid #000000;
	border-radius: 30px;
	display: flex;
	width: 500upx;
	height: 100upx;
	align-items: center;
	padding-left: 15px;
}

button {
	background-color: #FFFFFF;

}

.btn image {
	width: 120upx;
	height: 120upx;
}

.login {
	display: flex;
	height: 500upx;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 50px;
}

.box {
	padding-top: 80px;
	height: 100%;
}

page {
	height: 100%;
}

.other {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 90px;
}

.line {
	width: 150upx;
	border-bottom: #C0C0C0 2px solid;
}

.other-text {
	font-size: 16px;
}

.icon {
	display: flex;
	justify-content: center;
}

.icon image {
	width: 60upx;
	height: 60upx;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}
