.music-items {
	position: relative;
}

.item-pic image {
	width: 200upx;
	height: 200upx;
	border-radius: 10px;
}

.item-text {
	font-size: 14px;
	width: 200upx;
	height: 60upx;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.num {
	position: absolute;
	width: 100%;
	height: 10upx;
	left: 100upx;
	top: 12px;
	display: flex;
	align-items: center;
}

.num image {
	width: 15upx;
	height: 15upx;
}

.num text {
	font-size: 8px;
	color: #ffffff;
	margin-left: 2px;
}

.box {
	width: 750rpx;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
